body{
    color: white;
    background-color: black;
    font-family: Verdana, Tahoma, sans-serif
}

img{
    display: flex;
    width: 940px;
}

footer{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}